*{
    box-sizing: border-box;
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}

.header1 {
	height: 30px;
	background-color: rgba(28, 209, 176, 1);
	padding: 6px ;
	font-weight: bold;
}

.logo-header {
	width: 80px;
	float: left;
	margin-right: 10px;
}

.logo-header img {
	margin-top: -10px;
	width: 80px;
}

.header2 {
	background-color: rgba(0, 102, 159, 1);
	height: 80px;
	padding: 20px;
	font-weight: bold;
	box-shadow: 0px 10px 15px 0 rgba(0, 0, 0, 0.4);
}

.header3 {
	background-color: black;
	color: white;
	font-size: 0.9rem;
	height: 25px;
	padding-right: 20px;
}

.header3 ul li, .header3 ul li a{
	float: right;
	text-decoration: none;
	display: block;
	margin: 2px 3px;
	color: white;
}

.header3 ul li, .header3 ul li a:hover{
	color: gray;
}

.personaje {
	background-color: rgba(243, 243, 243, 1);
	height: 560px;
	width: 300px;
	margin: 100px 0px 0px 30px;
	border-radius: 15px;
	float: left;
}

.fondo {
	height: 193px;
	width: 300px;
}

.fondo .corazon {
	width: 35px;
	margin: 7px;
	position: absolute;	
}

.corazon:hover {
	width: 45px;
}

.fondo img {
	width: 300px;

}

.imagen-personaje {
	width: 120px;
	height: 118px;
	margin: 0 auto;
	position: relative;
	top: -65px;
}

.imagen-personaje img {
	border-radius: 60px;
	width: 120px;
}


.personaje-texto {
	margin: 85px 15px 15px 15px;
	text-align: center;
}

.personaje-texto p {
	text-align: left;
	font-size: 16px;
	margin-top: 10px;
}

.botonVerMas {
	width: 130px;
	height: 50px;
	background-color: rgba(0, 102, 159, 1);
	margin: 30px auto;
	padding-top: 15px;	
}

.botonVerMas:hover, .botonVerMas a:hover {
	background-color: rgba(0, 102, 189, 1);
	font-weight: bold;
	color: slategray;
}

.botonVerMas a {
	color: rgba(243, 243, 243, 1);
	text-decoration: none;
}

.footer {
	background-color: rgba(0, 102, 159, 1);
	height: 50px;
	color: white;
	padding: 15px;
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
}

.guason {
	height: 193px;
}

.bs {margin-bottom: 150px;}

/*  

@media (min-width:768px) and (min-width:768px){
	<!—- Aquí van todos los estilos CSS -->
} 

max:599px;
small-tablet-portrait: min:600px - max:799px;
small-tablet-landscape: min:800px - max:767px;
tablet-portrait: min:768px - max:1023px;
tablet-landscape: min:1024px;

*/

@media (max-width:320px){
	.personaje {
		background-color: navy;
		height: 560px;
		width: 300px;
		margin: 100px 0px 0px 30px;
		border-radius: 55px;
		float: left;
	}
  }

@media (max-width:479px){
	.botonVerMas {
		position: relative;
		bottom: 15px;
	}
}

@media (max-width:767px){
	.personaje-texto {
		text-transform: capitalize;
	}

	.personaje {
		width: 200px;
		height: 550px;
		border-radius: 15px;
	}

	.card-larga {
		height: 700px;
	}

	.fondo img {
		width: 200px;
	}

.imagen-personaje img{
	width: 120px;
	position:relative;
	left: -50px;
	}

	.personaje-texto {
		margin-top: 0;
	}

	.guason {
		height: 130px;
	}

}

@media (max-width:1023px){

}

@media (orientation: landscape) and (min-width:767px) {

}

.contenedor-body {
	width: 100%;
	height: auto;
}

.contenedor-formulario-contacto {
	height: auto;
	width: 300px;
	margin: 6% auto;
	font-family: 'Karla', 'inter', 'verdana', sans-serif;
}

.contenedor-formulario-contacto h2 {
	margin-bottom: 6%;
	font-weight: 900;
	color: rgba(51, 51, 51, 1);
}

input[type=text], input[type=email], textarea, input[type=password], select, input[type=date] {
	margin: 10px 0;
	width: 300px;
	height: 30px;
	border: 1px solid rgba(51, 51, 51, 1);
	padding-left: 3%;
}

input[type=file] {
	margin: 10px 0;
	height: 30px;
}

textarea {
	padding-top: 2%;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus, input[type=password]:focus, select:focus, input[type=date]:focus {
	background-color: rgba(240, 100, 100, 0.2);
}

select[option] {
	font-size: 0.8rem;
}

textarea {
	height: 100px;
}

button[type=submit], button[type=reset] {
	width: 135px;
	margin: 6px;
	font-weight: bold;
	border: none;
	font-size: 0.8rem;
	padding: 4px 0;
}

button[type=reset]:hover {
	font-weight: bold;
	background-color: rgba(28, 209, 206, 1);
}

button[type=submit]:hover {
	background-color: rgba(128, 209, 206, 1);
} 

button[type=reset] {
	background-color: rgba(136, 136, 136, 1);
	color: white;
	border-radius: 15px;
	font-weight: bold;
}

button[type=submit] {
	background-color: rgba(28, 209, 176, 1);
	color: black;
	border-radius: 15px;
}

#selector-pais * {
	font-size: 0.5rem;
}

.cuenta {
	margin-top: 2%;
	text-align: center;
	font-size: 0.8rem;
}

.cuenta a:hover{
	color: royalblue;
}

.entrar-boton {
	width: 305px !important;
	margin: 20px 0 10px -2px !important;
}

.entrar-boton:hover {
	background-color: rgba(188, 209, 106, 0.5) !important;
}

.contenedor-super {
	width: 70%;
	height: 530px;
	background-color: rgba(0, 102, 159, 1);
	border-radius: 30px;
	margin: 3% auto 10% auto;
	padding-top: 1%;
	color: white;
	font-weight: 900;
	
}

.contenedor-super h2, .contenedor-super p {
	text-align: center;
	margin-top: 1%;
}

.cajita-super{
	width: auto;
}

.contenedor-form {
	width: 68%;
	height: auto;
	padding: 2% 0;
	margin: 0 auto;
	font-size: 0.8rem;
}

.contenedor-form input[type=text], .contenedor-form input[type=date], .contenedor-form input[type=file], select, textarea {
	border-radius: 10px;
}

.contenedor-form input[type=text]:focus, .contenedor-form input[type=date]:focus, .contenedor-form input[type=file]:focus, select:focus, textarea:focus {
	background-color: rgba(100, 0, 0, 0.2);
}

.contenedor-form textarea {
	height: 175px;
}

.contenedor-form .cajita-super:nth-child(odd) {
	float: left;
}

.contenedor-form .cajita-super:nth-child(even) {
	float: right;
}

hr {
	margin: 10px 0;
}
.poderes-checks {
	width: auto;
	height: auto;
	float: left;
	padding: 1.5% 0 0 4%;
}
.poderes-checks input[type=checkbox], .poderes-checks input[type=radio] {
	margin-top: 5px;
}

.boton-anadir {
	display: block;
	float: left;
	width: 100% ;
	height: 60px;
	margin-top: 10px;
}

.boton-anadir button[type=submit]{
	display: block;
	width: 260px;
	height: 60px;
	font-size: 1.5rem;
	font-weight: bold;
	margin: 0 auto;
}